<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
 	<category label="[COLOR aqua]Pancas Wizard[/COLOR] Premium">
		<setting id="User" type="text" label="[COLOR aqua]U[/COLOR][COLOR white]sername[/COLOR]" default="" visible="true"/>
		<setting id="Pass" type="text" label="[COLOR aqua]P[/COLOR][COLOR white]assword[/COLOR]" default=""  option="hidden" />
	</category>
	<category label="Auto-View">
		<setting id="auto-view" type="bool" label="Enable Auto View" default="true"/>
		<setting id="MAIN" type="number" label="MAIN" default="500" enable="!eq(-1,false)"/>
		<setting id="INFO" type="number" label="INFO" default="515" enable="!eq(-1,false)"/>
   	</category>
 	<category label="Paste de Backup">
		<setting id="mastercopy" type="bool" label="[COLOR white]Criar Backup universal[/COLOR]" default="false"/>
		<setting type="lsep" label="As Builds podem ocupar muito espaco, activar esta opcao"/>
		<setting type="lsep" label="pode encher o aparelho facilmente."/>
		<setting type="lsep" label="[CR][CR][CR]"/>
        <setting id="zip" type="folder"    label="[COLOR white]Localizacao do Backup[/COLOR]"      default=""/>
 		<setting id="dummy" label="[COLOR=lime]Clica aqui para verificar se o [COLOR red][C][/COLOR][COLOR white]B TOOL[/COLOR] pode escrever no directorio.[/COLOR]" type="action" action="RunScript($CWD/CheckPath.py)"/>
		<setting type="lsep" label="[COLOR=red]NAO usar uma pasta dentro do Kodi.[/COLOR]"/>
		<setting type="lsep" label="[CR]Confirmar que escolhe uma localizacao em que o Kodi possa escrever."/>
		<setting type="lsep" label="Nao e possivel escrever numa localizacao de network."/>
	</category> 
</settings>